.DS_Store
.DS_Store?
core/.DS_Store
target
web/target
ws/target
core/target
web/.settings
core/.settings
web/doc
.project
.settings
core/.project
web/.project
core/.classpath
web/.classpath
ws/.classpath
OpenClinica.iml
web/OpenClinica-web.iml
.gitignore
.hgignore
README.md
apidoc.json
core/LICENSE.txt

core/src/main/filter/*
web/src/main/resources/*.properties